Adafruit-ADS1x15==1.0.2
Adafruit-GPIO==1.0.4
Adafruit-PureIO==0.2.3
Adafruit-SSD1306==1.6.2
board==0.0.0.post0
Click==7.0
Flask==1.1.1
itsdangerous==1.1.0
Jinja2==2.10.1
MarkupSafe==1.1.1
RPi.GPIO==0.7.0
spidev==3.4
Werkzeug==0.16.0
