/*Style Sheet for HVL Lab

version: 0.1
author: Ramswaroop Soren(xtremerox)
email: admin@soren.in
website: https://soren.in */
.control{
	margin : 10px 0;
}
#loading {
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	position: fixed;
	display: none; 
	z-index: 99
}

#loading-image {
	position: absolute;
	top: 40%;
	left: 45%;
	z-index: 100
} 
.card-heading{
	font-size:15px; 
	font-weight:bold;
}

.btnpush{
	height: 150px;
	width: 150px;
	background: url('../img/off.png') no-repeat;
	background-size: cover;
	cursor: pointer;
	border: none;
}
.btnpush:active{
	height: 150px;
	width: 150px;
	background: url('../img/on.png') no-repeat;
	background-size: cover;
	cursor: pointer;
	border: none;
}

.btntoggle{
	color: white;
	height: 150px;
	width: 150px;
	background: url('../img/off_strong.png') no-repeat;
	background-size: cover;
	cursor: pointer;
	border: none;
}

.btntoggled{
	color: black;
	height: 150px;
	width: 150px;
	background: url('../img/on_strong.png') no-repeat;
	background-size: cover;
	cursor: pointer;
	border: none;
}

.led-green {
	float: right;
    width: 24px;
    height: 24px;
    background-color: #ABFF00;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #304701 0 -1px 9px, #89FF00 0 2px 12px;
    transition:0.5s ease;-moz-transition:0.5s ease;-webkit-transition:0.5s ease;
}
.led-red{
	float: right;
	width: 24px;
    height: 24px;
	background-color: red;
	box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 12px;
	transition:0.5s ease;-moz-transition:0.5s ease;-webkit-transition:0.5s ease;
}

/* Use a media query to add a breakpoint at 800px: */
@media screen and (max-width: 600px) {
#loading-image {
	position: absolute;
	top: 30%;
	left: 25%;
	z-index: 100;
	} 
	.noselect {
	  -webkit-touch-callout: none; /* iOS Safari */
		-webkit-user-select: none; /* Safari */
		 -khtml-user-select: none; /* Konqueror HTML */
		   -moz-user-select: none; /* Firefox */
			-ms-user-select: none; /* Internet Explorer/Edge */
				user-select: none; /* Non-prefixed version, currently
									  supported by Chrome and Opera */
	}
  .btnpush{
		height: 70px;
		width: 70px;
		background: url('../img/off.png') no-repeat;
		background-size: cover;
		cursor: pointer;
		border: none;
	}
	.btnpush:active{
		height: 70px;
		width: 70px;
		background: url('../img/on.png') no-repeat;
		background-size: cover;
		cursor: pointer;
		border: none;
	}
	.btntoggle{
		color: white;
		height: 70px;
		width: 70px;
		background: url('../img/off_strong.png') no-repeat;
		background-size: cover;
		cursor: pointer;
		border: none;
	}
	.btntoggled{
		color: black;
		height: 70px;
		width: 70px;
		background: url('../img/on_strong.png') no-repeat;
		background-size: cover;
		cursor: pointer;
		border: none;
	}
	.card-heading{
		font-size:8px; 
		font-weight:bold;
	}
}

